# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test output
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# Editor backups and settings
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Application
data/